/* docs/css/giscus-theme.css */
main {
    --color-canvas-default: transparent;
    --color-canvas-subtle: var(--surface);
    --color-border-default: var(--border);
    --color-border-muted: var(--border);
    
    --color-fg-default: var(--text-main);
    --color-fg-muted: var(--text-muted);
    
    --color-btn-bg: var(--surface-secondary);
    --color-btn-text: var(--text-main);
    --color-btn-border: var(--border);
    --color-btn-hover-bg: var(--border-hover);
    
    --color-accent-fg: var(--link);
  }
  
  .giscus-frame {
    font-family: var(--font-arabic) !important;
  }
  
  .giscus-input {
    background-color: var(--bg) !important;
    /* border: 1px solid var(--border) !important; */
    border-radius: var(--radius) !important;
  }